@import "angular-flexbox.css";

:root {
  --primary-color: #3f51b5; /* Material Design Primary Color */
  --secondary-color: #f50057; /* Material Design Secondary Color */
  --background-color: #f5f5f5; /* Light background color */
  --text-color: #212121; /* Dark text color */
  --border-color: #e0e0e0; /* Light border color */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

